# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
build/
dist/
*.spec

# Jupyter Notebooks
.ipynb_checkpoints

# Logs
*.log

# Databases
*.db
*.sqlite3

# Excel & Reports
*.xlsx
*.pdf

# IDEs
.idea/
.vscode/

# Flutter (Cliente)
Cliente/build/
Cliente/.dart_tool/
Cliente/.flutter-plugins
Cliente/.flutter-plugins-dependencies
Cliente/.pub-cache/
Cliente/.packages
